@use 'src/styles/theme' as theme;

.no-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 10px 36px;
  color: theme.$primary-light;
}

::ng-deep .project-menu {
  margin-top: 18px;
  min-height: 0 !important;
  width: 100% !important;
  max-height: 223px;

  .mat-menu-content:not(:empty) {
    padding: 0;
  }

  .mat-menu-item:not(:last-child) {
    height: 35px;
    line-height: 35px;
  }
}
