<mat-toolbar class="toolbar">
  <app-timer></app-timer>
  <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">
    <mat-icon class="white-icon">person</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" xPosition="before" class="user-menu">
  <div class="user-container" *ngIf="(authService.user$ | async) as user">
    <span class='user-name'>{{user.first_name + ' ' + user.last_name}}</span>
    <span class='user-email'>{{user.email}}</span>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
