<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="email">E-mail: </mat-label>
    <input matInput id="email" type="text" formControlName="email" [errorStateMatcher]="errorMatcher">
    <mat-error *ngIf="loginForm.controls.email?.invalid">E-mail is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="password">Password: </mat-label>
    <input matInput id="password" type="password" formControlName="password" [errorStateMatcher]="errorMatcher">
    <mat-error *ngIf="loginForm.controls.password?.invalid">Password is <strong>required</strong></mat-error>
  </mat-form-field>

  <button mat-flat-button color="accent" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
