@use 'src/styles/theme' as theme;

.project-selector {
  color: theme.$primary-light;
  border-radius: 25px;

  .project-icon {
    scale: 0.7;
    padding-bottom: 2px;
  }
}

.small {
  line-height: 27px;
}
