@use 'src/styles/theme.scss' as theme;

:host {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: theme.$primary-dark;
}

.mat-input {
  width: 100%;
}

.sign-up-link {
  text-align: center;
}

$padding: 30px;
.login-card {
  width: 30%;
  overflow: hidden;
  padding: $padding;

  .mat-card-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mat-card-footer {
    margin: 0 (-$padding) (-$padding) (-$padding);
  }
}
