@use 'src/styles/theme' as theme;

:host {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 15px;
  height: 48px;
}

.task-description {
  padding-left: 15px;
  flex: 1;
  text-overflow: ellipsis;
  color: theme.$primary-color;
}

.task-time {
  color: theme.$primary-light;
}

.task-duration {
  color: theme.$primary-color;
}
