@use 'src/styles/theme' as theme;

:host {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 15px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
}

:host:hover {
  background: rgba(0, 0, 0, 0.04);
}

.task-description {
  flex: 1;
  text-overflow: ellipsis;
  color: theme.$primary-color;
}

.task-time {
  color: theme.$primary-light;
}

.task-duration {
  color: theme.$primary-color;
}
