@use 'src/styles/theme' as theme;

:host {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 15px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
}

:host:hover {
  background: rgba(0, 0, 0, 0.04);
}

.task-description {
  flex: 1;
  text-overflow: ellipsis;
  color: theme.$primary-color;
}

.task-time {
  color: theme.$primary-light;
}

.task-duration {
  color: theme.$primary-color;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-children-icon {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  background: theme.$accent-light;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
  color: theme.$primary-color;
  font-size: 12px;
  font-weight: 600;
}
