<mat-expansion-panel hideToggle *ngIf="task" [disabled]="!task.time_entries || task.time_entries.length === 0" class="expansion-panel">
  <mat-expansion-panel-header class="task-card">
    <app-task-card [task]="task" (delete)="onDeleteTask($event)"></app-task-card>
  </mat-expansion-panel-header>
  <div *ngFor="let time_entry of task.time_entries">
    <app-task-card
      class="time-entry-card"
      [task]="task"
      (delete)="onDeleteTimeEntry($event)"
    ></app-task-card>
    <mat-divider></mat-divider>
  </div>
</mat-expansion-panel>
