<mat-expansion-panel
  *ngIf="task"
  hideToggle
  [disabled]="!task.time_entries || task.time_entries.length === 0"
  class="expansion-panel"
  [expanded]="isPanelOpen"
  [disabled]="true"
>
  <mat-expansion-panel-header class="task-card">
    <app-task-card
      [isExpanded]="isPanelOpen"
      [task]="task"
      (delete)="onDeleteTask($event)"
      (restart)="onRestart($event)"
      (togglePanel)="onTogglePanelOpen()"
      (selectProject)="onSelectProject($event)"
    ></app-task-card>
  </mat-expansion-panel-header>
  <div *ngFor="let time_entry of task.time_entries">
    <app-time-entry-card
      [timeEntry]="time_entry"
      (delete)="onDeleteTimeEntry($event)"
    ></app-time-entry-card>
    <mat-divider></mat-divider>
  </div>
</mat-expansion-panel>
